# ➤ Dependencias
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# ➤ Tests
/coverage

# ➤ Next.js
/.next
/out
/build

# ➤ Archivos del sistema
.DS_Store
*.pem
*.log
*.tsbuildinfo
*.swp
*.swo

# ➤ Archivos locales
.env*
next-env.d.ts

# ➤ Vercel/Netlify
.vercel
.netlify

# ➤ Amplify
.amplify
amplify/
amplify_outputs*
amplifyconfiguration*

# ➤ Archivos generados o comprimidos
*.zip
*.tar.gz
*.rar
